.box {
  white-space: nowrap;
  position: relative;
  margin: -8px;
  overflow: hidden;
}

.box-drawing {
  display: block;
  position: absolute;
  display: inline-block;
  font-family: monospace;
  font-size: 28px;
  line-height: 1.2;
  font-weight: normal;
}

.box-drawing i {
  display: inline-block;
  font-style: normal;
  width: 30px;
}

.box-drawing i.l::after {
  content: "\2502";
}

.box-drawing i.a::after {
  content: "\251c";
}

.box-text {
  padding: 8px;
}

.box-text.ellipsize {
  max-width: min(50vw, 70ch);
  text-overflow: ellipsis;
  overflow: hidden;
}

.field-collapse_column {
  position: relative;
}

.collapse-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: inline-block;
  transition: 0.1s transform;
  transform: rotate(0deg) translateY(4px);
  transform-origin: 50% 50%;

  cursor: pointer;
}

.collapse-toggle.collapsed {
  transform: rotate(-45deg) translateY(-2px);
}

.collapse-toggle::after {
  content: "\25E2";
}

.collapse-hide {
  display: none !important;
}
