.box {
    white-space: nowrap;
    position: relative;
}

.box-drawing {
    display: block;
    position: absolute;
    display: inline-block;
    font-family: monospace;
    font-size: 25px;
    font-weight: normal;
    top: -.07em;
}

.box-drawing i {
    display: inline-block;
    font-style: normal;
    width: 30px;
}

.box-drawing i.l::after {
    content: '\2502';
}

.box-drawing i.a::after {
    content: '\251c';
}


.box-text {
}
