<!DOCTYPE HTML>
{% load feincms3_pages %}
<html>
<head>
  <title>{% block title %}testapp{% endblock %}</title>
</head>
<body>

  <nav class="nav-main">
  {% menu "main" level=1 depth=2 language_code=page.language_code as pages %}
  {% for main, children in pages|group_by_tree %}

    {% is_descendant_of page main include_self=True as active %}
    <a {% if active %}class="active"{% endif %} href="{{ main.get_absolute_url }}">{{ main.title }}</a>

      {% if children %}
      <nav>
        {% for child in children %}
          {% is_descendant_of page child include_self=True as active %}
          <a {% if active %}class="active"{% endif %} href="{{ child.get_absolute_url }}">{{ child.title }}</a>
        {% endfor %}
      </nav>
    {% endif %}

  {% endfor %}
  </nav>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% block content %}{% endblock %}
</body>
</html>
